<canvas id="output"></canvas>
<video id="video" playsinline style="
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden;
    width: auto;
    height: auto;
    ">
</video>
<canvas id="letter"></canvas>
<div><img id="image"></div>