 <div id="game">
    <header>
        <h1><%= name %></h1>
        <div id="back" class="side_button">戻る</div>
    </header>
    <div id="score">スコア：<%= score %></div>
    <div class="question_field">
        <p>お題</p>
        <div id="kanji"><%= kanji %></div>
    </div>
    <div id="desc">ジェスチャーの説明</div>
    <div id="time">制限時間： 30秒</div>
    <main>
        <div id="status"></div>
        <div id="monitor">クリックしてスタート</div>
    </main>
</div>