<div>
    <header>
        <h1><%= name %></h1>
        <button id="back">戻る</button>
    </header>
    <div class="left">
        <div id="score"><%= score %></div>
        <div id="kanji"><%= kanji %></div>
        <div id="state"></div>
        <div>ジェスチャーの説明</div>
    </div>
    <div class="main">
        <div id="time">制限時間： 30秒</div>
        <div id="monitor">カメラ入力部</div>
    </div>
</div>