<div id="selection">
    <header>
        <h1>コース選択</h1>
        <div id="back_s" class="side_button">TOPに戻る</div>
    </header>
    <div id="stages">
        <% for(var stage of stages) { %>
            <p id="<%= stage.id %>" >  <%= stage.name %></p>
            <% } %>
    </div>
</div>
