/* スタート画面 */
.start {
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.start p {
    margin-top: 50px;
}

/* ヘッダー */
header {
    margin: 0;
    display: flex;
}

header h1 {
    margin-right: auto;
    margin-left: auto;
}

header #back {
    margin-top: auto;
    margin-right: 20px;
    margin-bottom: auto;
    height: 30%;
}

/* ゲームシーン */
#game {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-areas: "head head"
                        "score time"
                        "kanji main"
                        "desc main";
    grid-template-rows: 100px 50px 1fr 1fr;
    grid-template-columns: 30% 1fr;
    gap: 10px;
}

#game > header {
    grid-area: head;
    border: solid black 1px;
}

#score {
    grid-area: score;
    border: solid black 1px;
    text-align: center;
    display: grid;
    place-items: center;
}

.question_field {
    grid-area: kanji;
    border: solid black 1px;
    position:relative;
}

.question_field p {
    margin: 0;
}

#kanji {
    font-size: 600%;
    text-align: center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#desc {
    grid-area: desc;
    border: solid black 1px;
    text-align: center;
    display: grid;
    place-items: center;
}

#game > main {
    grid-area: main;
    border: solid black 1px;
    position:relative;
}

#monitor {
    text-align: center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#state {
    font-size: 1500%;
    color: red;
    text-align: center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#time {
    grid-area: time;
    border: solid black 1px;
    text-align: center;
    display: grid;
    place-items: center;
}